body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.main-div {
    margin: 5%;
    margin-top: 2%;
    background-color: rgb(187, 46, 74);
    border: 3px solid grey;
}

.divider {
    margin: 2%;
}

.list-div {
    overflow-y: hidden;
}