body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
  }

.main-div {
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(187, 46, 74);
    border: 3px solid grey;
    overflow-y: scroll;
}

.divider {
    margin: 2%;
}

/* .list-div */

.item-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 2%;
    row-gap: 2%;
}

.item {
    min-height: 300px;
    margin: 5%;
    border: 1px solid white;
}

.delete-btn {
    padding: 5px;
    margin-top: 10px;
}